/*
 Color Pallete
0081BF
00567F
00ADFF
002B40
009BE5

26637F
*/
* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-family: 'Oxygen', sans-serif;
	color: #222;
	margin: 0;
}

.cursive {
	font-family: 'Itim', cursive;
}

.card {
	padding: 20px;

	border: 2px solid #ddd;
	border-radius: 6px;
	background: white;
}

/*===== HEADER =====*/
header {
	background: #002B40;
	padding: 60px 40px 40px 40px;
}

header .card {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-columns: minmax(30%, 250px) auto;
	grid-template-rows: auto 40px 40px auto;
	grid-column-gap: 20px;
}

header .card img {
	border-radius: 50%;
	border: 6px solid #ddd;
	width: 100%;
	grid-row: 1 / -1;
}

header .card div {
	color: #777;
	font-size: 1.5em;
	grid-column: 2;
}

header blockquote {
	font-size: 2em;
	font-style: italic;
	color: #0081BF;
	text-align: center;
	margin-bottom: 0;
}

/*===== SECTION 1 =====*/
section {
	background: white;
	padding: 20px 40px;

	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		"h h"
		"p p";
}

section h2 {
	font-size: 2em;
	text-align: center;

	grid-area: h;
}

.project {
	background: radial-gradient(circle at 100% -120%, #0081BF, white 30%);
	border-color: #0081BF;

	font-size: 1.5em;
	text-decoration: none;
}

.project p {
	color: #777;
	font-size: 0.8em;
}
